<!--
Copyright Information
All source is copyright, Kevin Wittmer
See License.txt for more information (check Visual Studio Solution Items)
==================================
-->

@using Microsoft.AspNetCore.Html;
@using System.Collections;

@model Baseball.ApiSharp.Mvc.Models.ViewModels.PlayerSearchResultsViewModel

@{
    Func<Baseball.ApiSharp.Mvc.Models.ViewModels.PlayerViewModel, int, IHtmlContent> renderDataCell = (player, index) =>
    {
        if (player.PlayerData.Keys.Count > index && player.PlayerData.Keys.Contains(Baseball.ApiSharp.Mvc.Models.ViewModels.PlayerViewModel.BindFields[index]))
        {
            return new HtmlString($"<td>{player.PlayerData[Baseball.ApiSharp.Mvc.Models.ViewModels.PlayerViewModel.BindFields[index]]}</td>");
        }
        else
        {
            return new HtmlString("<td></td>");
        }
    };
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            @for (int i = 0; i < Baseball.ApiSharp.Mvc.Models.ViewModels.PlayerViewModel.BindFields.Count; i++)
            {
                <th>@Baseball.ApiSharp.Mvc.Models.ViewModels.PlayerViewModel.BindFields[i]</th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Players)
        {
            <tr>
                <td>@item.FirstName @item.LastName</td>
                @for (int i = 0; i < Baseball.ApiSharp.Mvc.Models.ViewModels.PlayerViewModel.BindFields.Count; i++)
                {
                    @renderDataCell(item, i)
                }
            </tr>
        }
    </tbody>
 </table>
