<!--
Copyright Information
All source is copyright, Kevin Wittmer
See License.txt for more information (check Visual Studio Solution Items)
==================================
-->
@{
    ViewData["Title"] = "Home Page (Search)";
}

New feature - search for pitchers.

<div class="text-left">
    <vc:pitchers-search />
</div>

<div class="text-left">
    <vc:players-search />
</div>
