<!--
Copyright Information
All source is copyright, Kevin Wittmer
See License.txt for more information (check Visual Studio Solution Items)
==================================
-->
@model Baseball.ApiSharp.Mvc.Models.ViewModels.PlayerSearchResultsViewModel

<table class="table">
<thead>
<tr>
    <th>Wins</th>
    <th>ERA</th>
</tr>
</thead>

@foreach (var item in Model.Players)
{
    @foreach(var result in item.PitchingResults)
    {
        <tr>
            <td>@result.Wins</td>
            <td>@result.ERA</td>
        </tr>
    }
}
</table>
