
<form asp-controller="Players" asp-action="SearchPlayers" method="get">
    <div class="form-group">
        <div class="input-group">
            <p>
                Player search: <input type="text" name="SearchString" class="form-control" />
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
</form>
